*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto Mono, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.mainInfo{
  min-height: calc(100vh - 200px);
  padding: 20px;
}

.sobreInfo{
  min-height: calc(100vh - 200px);
  padding: 20px;
}

header {
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  padding: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center; 
}


header h1{
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav ul li a {
  text-decoration: underline;
  font-size: 28px;
  padding-left: 50px;
  padding-right: 50px;
}

#info {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.personal-info h2{
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 30px;
}

.personal-info p{
  font-size: 20px;
  padding-bottom: 30px;
  max-width: 400px;
}

.personal-info a{
  font-size: 20px;
  background-color: #333333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
  border-style: none;
}


.personal-info, .skills {
  flex: 1;
}

.skill-card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 20px;
}

.skills{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact{
  text-align: center;
}
#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact form input,
#contact form textarea{
  margin: 10px 40px;
  width: 50%;
  padding: 10px;
  border-radius: 100px;
  
}
#contact form button {
  font-size: 20px;
  background-color: #333333;
  border: none;
  color: white;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  border-style: none;
}
footer {
  background-color: #2980b9;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 50px;
}

.row {
  display: flex;
  align-items: row;
  justify-content: space-between;
}

.row2 {
  display: flex;
  align-items: row;
  justify-content: space-between;
}


.row3 {
  display: flex;
  align-items: row;
  border-radius: 100px;
  padding: 0px;
}

.imgS {
  padding-right: 50px;
}

.card { 
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.row p {
  font-size: 64px;
  color: #FFFFFF;
  font-weight: 900;
}

.card h3 {
  font-size: 32px;
  font-weight: 500;
}

.cont {
  font-size: 18px;
  font-weight: 400;
}

.sobre-info h2{
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 30px;
  max-width: 600px;
}

.sobre-info p{
  font-size: 18px;
  padding-bottom: 30px;
  max-width: 400px;
  font-weight: 400px;
}

#info h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 74px;
  text-align: left;
  max-width: 600px;
  
}

.coluna {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.coluna h1 {
  padding: 50px;

}

#botao {
  font-size: 20px;
  background-color: #6975E8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
  border-style: none;
}